<nav>
    <div class="w3-container w3-bar w3-padding w3-purple">
        <% if(!user){ %>
            <a href="/users/new" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple  w3-right w3-mobile">Sign Up</a>
            <a href="/users/login" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple  w3-right w3-mobile">Login</a>
        <% } else { %>
            <a href="/connections/new" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple  w3-right w3-mobile">Start a New Connection</a>
            <a href="/users/profile" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple  w3-right w3-mobile">Profile</a>
            <a href="/users/logout" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple  w3-right w3-mobile">Logout</a>
            
        <% } %>
    </div>
    <div class="w3-container w3-bar w3-padding w3-black">
        <a href="/" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple w3-mobile">Home</a>
        <a href="/connections" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple w3-mobile">Connections</a>
        <a href="/about" class="w3-bar-item w3-button w3-round-large w3-hover-deep-purple w3-mobile">About</a>
    </div>
</nav>