<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<main class="w3-container w3-white">
    <h2 class="w3-bar">About Us</h2>   
    <p class="w3-bar">If you are new to Dungeons & Dragons or other Table Top Role Playing Games (TTRPGs) this club is the perfect starting point! Our website holds many different pages to help you along the way of becoming a part of the Unlikely Heroes that play TTRPGs.</p>
    <h3 class="w3-bar">What Do We Offer?</h3>
    <p class="w3-bar">Our "Start a new connection" page will let you create your own event to host others for game nights.</p>
    <p class="w3-bar">Our "Sign-up" page will help you get registered for certain events that may interest you and save your information for later use.</p>
	<p class="w3-bar">Our "Login" page can be used to save your information and connections. A faster and more convenient way to be a part of the Unlikely Heroes!</p>
    <h3 class="w3-bar">Ready to Begin?</h3>
    <p class="w3-bar">Adventure awaits for those who seek it. Come join our other Unlikely Heroes by checking out the Connections page and finding a game that suites you. We look forward to seeing you soon!</p> 
    <p><a href="/connections" class="w3-bar-item w3-button w3-round-large w3-purple w3-hover-deep-purple w3-mobile">View Connections</a></p>
</main>
<%- include('./partials/footer.ejs') %>