<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<main class="w3-container w3-white">
    <h1 class="w3-bar">Contact Us</h1>
    <h2 class="w3-bar">The Unlikely Heroes: TTRPG Club</h2>
    <p class="w3-bar">1234 Total Real Lane</p>
    <p class="w3-bar">Concord, NC 28027</p>
    <p class="w3-bar">Phone: 704-123-4567</p> 
    <p class="w3-bar">email: UnlikelyHeroesClub@yahoo.com</p>
    <br><br>
    <p><a href="/connections" class="w3-bar-item w3-button w3-round-large w3-purple w3-hover-deep-purple w3-mobile">View Connections</a></p>
</main>
<%- include('./partials/footer.ejs') %>