<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<main class="w3-container w3-white">
    <h2 class="w3-bar">Let The Adventures Begin!</h2>       
    <img src="/images/players.jpeg" alt="players" class="image">        
    <h3 class="w3-bar">How Do I Get Started?</h3>
    <p class="w3-bar">Joining a TTRPG can be intimidating and confusing logistically. Luckily, the Unlikely Heroes have many different ways to connect with others and even start your own game!</p>
    <p class="w3-bar">You can even contact us via phone or email to get additional information on how games run or special events coming soon.</p>
    <img src="/images/GN.jpeg" alt="game night" class="image">
    <h3 class="w3-bar">Ready to Begin?</h3>
    <p class="w3-bar">Adventure awaits for those who seek it. Come join our other Unlikely Heroes by checking out the Connections page and finding a game that suites you. We look forward to seeing you soon!</p> 
    <p><a href="/connections" class="w3-bar-item w3-button w3-round-large w3-purple w3-hover-deep-purple w3-mobile">View Connections</a></p>
</main>
<%- include('./partials/footer.ejs') %>