<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Connections</title>
</head>

<body>
    <!--Header section of site-->
    <header>
        <section id="header">
            <div class="h_div">
                <div class="header_element">
                    <a href="index.html"><img src="UH.png" alt="brand img" id="brandImg"></a>
                </div>
                <div class="header_element" id="h_text_div">
                    <h1 id="header_text">The Unlikely Heroes: TTRPG Club</h1>
                </div>
                <div class="header_element" id="login_sign_up_links">
                    <a href=newConnection.html class="user_link" id="start_a_new_connection_link">Start a new connection          |          </a>
                    <a href="index.html" class="user_link" id="sign_up_link">Sign-up           |          </a>
                    <a href="index.html" class="user_link" id="login_link">Login</a>
                </div>
            </div>
            <br>
            <!--line under header-->
            <div id="header_line1"></div>
            <br>
        </section>
        <!--navigation bar-->
        <section id="site_nav_bar_section">
            <div id="nav_d">
                <nav id="nav_bar">
                    <div class="c_div">
                        <a id="connections_nav_link" href="connections.html">Connections</a>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <!--connections catagories and events list-->
        <section id="connections_page_main_section">
            <div class="c_div">
                <h3 class="connections_list_h">TTRPGs:</h3>
                <ul class="connections_list" id="TTRPGs_list">
                    <li class="connections_list_item TTRPGs_list_item">
                        <a href="connection.html" class="connection_link">
                            Dungeons & Dragons 5e
                        </a>
                    </li>
                    <li class="connections_list_item TTRPGs_list_item">
                        <a href="connection.html" class="connection_link">
                            Pathfinder
                        </a>
                    </li>
                    <li class="connections_list_item TTRPGs_list_item">
                        <a href="connection.html" class="connection_link">
                            Call of Cthulhu
                        </a>
                    </li>
					<li class="connections_list_item learning_practice_list_item">
                        <a href="connection.html" class="connection_link">
                            Fate Core
                        </a>
                    </li>
                </ul>
                <h3 class="connections_list_h">Large Events:</h3>
                <ul class="connections_list" id="Large_Events_list">
                    <li class="connections_list_item Large_Events_list_item">
                        <a href="connection.html" class="connection_link">
                            Magic The Gathering Tournament
                        </a>
                    </li>
                    <li class="connections_list_item Large_Events_list_item">
                        <a href="connection.html" class="connection_link">
                            D&D: Adventurers League
                        </a>
                    </li>
                    <li class="connections_list_item Large_Events_list_item">
                        <a href="connection.html" class="connection_link">
                            Jackbox Party Pack Night
                        </a>
                    </li>
                </ul>
                <h3 class="connections_list_h">Board Game Socials:</h3>
                <ul class="connections_list" id="board_game_socials_list">
                    <li class="connections_list_item board_game_socials_list_item">
                        <a href="connection.html" class="connection_link">
                            Stonemaier Games: Scythe
                        </a>
                    </li>
                    <li class="connections_list_item board_game_socials_list_item">
                        <a href="connection.html" class="connection_link">
                            Czech Games: CodeNames
                        </a>
                    </li>
                    <li class="connections_list_item board_game_socials_list_item">
                        <a href="connection.html" class="connection_link">
                            Wizards of the Coast: Betrayal at House on the Hill
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <!--site footer, same site wide-->
        <section id="footer_section">
            <div id="footer_d">
                <div class="footer_element" id="cr_footer">
                    <h3>&copy; The Unlikely Heroes: TTRPG Club</h3>
                </div>
                <div class="footer_element" id="contact_us_link">
                    <a href="index.html">
                        <h3>CONTACT US</h3>
                    </a>
                </div>
                <div class="footer_element" id="DD_shop_link">
                    <a href="index.html">
                        <h3>Buy D&D Merch</h3>
                    </a>
                </div>
            </div>
        </section>
    </footer>
</body>


</html>