<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Connection</title>
</head>

<body>
    <!--Header section of site-->
    <header>
        <section id="header">
            <div class="h_div">
                <div class="header_element">
                    <a href="index.html"><img src="UH.png" alt="brand img" id="brandImg"></a>
                </div>
                <div class="header_element" id="h_text_div">
                    <h1 id="header_text">The Unlikely Heroes: TTRPG Club</h1>
                </div>
                <div class="header_element" id="login_sign_up_links">
                    <a href=newConnection.html class="user_link" id="start_a_new_connection_link">Start a new connection          |          </a>
                    <a href="index.html" class="user_link" id="sign_up_link">Sign-up           |          </a>
                    <a href="index.html" class="user_link" id="login_link">Login</a>
                </div>
            </div>
            <br>
            <!--line under header-->
            <div id="header_line1"></div>
            <br>
        </section>
        <!--navigation bar-->
        <section id="site_nav_bar_section">
            <div id="nav_d">
                <nav id="nav_bar">
                    <div class="c_div">
                        <a id="connections_nav_link" href="connections.html">Connections</a>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <section id="connection_page_body">
            <!--placeholder connection for connection page-->
            <div class="c_div">
                <h3 id="connection_body_h"><b>Dungeons & Dragons 5e</b></h3>
                <table id="connection_info_table">
                    <tr class="connection_info_table_row">
                        <td id="connection_i_element" rowspan=8><img src="5e.png" alt="5e" id="connection_i"></td>
                        <td id="connection_host_label" class="connection_info_l">Hosted By:</td>
                        <td id="connection_host" class="connection_info_e">Matt Maker aka ForeverDMMatt</td>
                    </tr>
					<tr class="connection_info_table_row">
                        <td id="connection_edition_label" class="connection_info_l">Edition:</td>
                        <td id="connection_edition" class="connection_info_e">5th Edition</td>
                    </tr>
                    <tr class="connection_info_table_row">
                        <td id="connection_campaign_label" class="connection_info_l">Campaign:</td>
                        <td id="connection_campaign" class="connection_info_e">Curse of Strahd</td>
                    </tr>
                    <tr class="connection_info_table_row">
                        <td id="connection_session_date_label" class="connection_info_l">Session 0:</td>
                        <td id="connection_session_date" class="connection_info_e">November 1st, 2021</td>
                    </tr>
					<tr class="connection_info_table_row">
                        <td id="connection_day_label" class="connection_info_l">Session Day:</td>
                        <td id="connection_day" class="connection_info_e">Mondays</td>
                    </tr>
                    <tr class="connection_info_table_row">
                        <td id="connection_start_time_label" class="connection_info_l">Start Time:</td>
                        <td id="connection_start_time" class="connection_info_e">6:00pm</td>
                    </tr>
                    <tr class="connection_info_table_row">
                        <td id="connection_end_time_label" class="connection_info_l">End Time:</td>
                        <td id="connection_end_time" class="connection_info_e">10:00pm</td>
                    </tr>
                    <tr class="connection_info_table_row">
                        <td id="connection_location_label" class="connection_info_l">Location:</td>
                        <td id="connection_location" class="connection_info_e">The Unlikely Heroes Store</td>
                    </tr>
                </table>
                <br>
                <div id="connection_description">
                    <h3 id="connection_description_l">Description:</h3>
                    <p id="connection_description_text">
                        ForeverDMMatt is looking for new adventurers to play through the D&D 5th Edition module "Curse of Strahd". Those who wish to be a part of this thrilling campaign, must contact Matt ASAP.
                    </p>
                    <p>
                        This game will most likely fill up quickly, but for those who are able to join be ready to play on Monday nights beginning on November 1st with a Session 0!
                    </p>
                    <br><br>
                    <!--buttons for update/delete on connection-->
                    <div id="connection_button_c_d">
                        <form action="connections.html">
                            <button class="connection_button_c" id="connection_update_button">Update</button>
                            <button class="connection_button_c" id="connection_delete_button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br><br>
    <footer>
        <!--site footer, same site wide-->
        <section id="footer_section">
            <div id="footer_d">
                <div class="footer_element" id="cr_footer">
                    <h3>&copy; The Unlikely Heroes: TTRPG Club</h3>
                </div>
                <div class="footer_element" id="contact_us_link">
                    <a href="index.html">
                        <h3>CONTACT US</h3>
                    </a>
                </div>
                <div class="footer_element" id="DD_shop_link">
                    <a href="index.html">
                        <h3>Buy D&D Merch</h3>
                    </a>
                </div>
            </div>
        </section>
    </footer>
</body>

</html>