<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home</title>
</head>

<body>
    <!--Header section of site-->
    <header>
        <section id="header">
            <div class="h_div">
                <div class="header_element">
                    <a href="index.html"><img src="UH.png" alt="brand" id="brandImg"></a>
                </div>
                <div class="header_element" id="h_text_div">
                    <h1 id="header_text">The Unlikely Heroes: TTRPG Club</h1>
                </div>
                <div class="header_element" id="login_sign_up_links">
                    <a href=newConnection.html class="user_link" id="start_a_new_connection_link">Start a new connection           |          </a>
                    <a href="index.html" class="user_link" id="sign_up_link">Sign-up           |          </a>
                    <a href="index.html" class="user_link" id="login_link">Login</a>
                </div>
            </div>
            <br>
            <!--line under header-->
            <div id="header_line1"></div>
            <br>
        </section>
        <!--navigation bar-->
        <section id="site_nav_bar_section">
            <div id="nav_d">
                <nav id="nav_bar">
                    <div class="c_div">
                        <a id="connections_nav_link" href="connections.html">Connections</a>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <!--body section for index page-->
        <section id="index_main_body_text_section">
            <div class="c_div">
                <br><br>
                <h1 id="index_body">Adventurers! We welcome you to The Unlikely Heroes!</h1><br><br>
                <div id="index_body_text_div">
                    <h2>If you are new to Dungeons & Dragons or other Table Top Role Playing Games (TTRPGs) this club is the perfect starting point!</h2>
					<h2>Our website holds many different pages to help you along the way of becoming a part of the Unlikely Heroes that play TTRPGs.</h2>
                    <h2>Our "Start a new connection" page will let you create your own event to host others for game nights.</h2>
                    <h2>Our "Sign-up" page will help you get registered for certain events that may interest you and save your information for later use.</h2>
                    <h2>Our "Login" page can be used to save your information and connections. A faster and more convenient way to be a part of the Unlikely Heroes!</h2>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <!--site footer, same site wide-->
        <section id="footer_section">
            <div id="footer_d">
                <div class="footer_element" id="cr_footer">
                    <h3>&copy; The Unlikely Heroes: TTRPG Club</h3>
                </div>
                <div class="footer_element" id="contact_us_link">
                    <a href="index.html">
                        <h3>CONTACT US</h3>
                    </a>
                </div>
                <div class="footer_element" id="DD_shop_link">
				    <a href="index.html">
                        <h3>Buy D&D Merch</h3>
                    </a>
                </div>
            </div>
        </section>
    </footer>
</body>


</html>